body
{
    text-align: center;
}
.container{
    background: linear-gradient(#1eeca7 0%, #e8f71c 100%);  
}
#app {
    background-color: linear-gradient(#cb7ae4 0%, #b3fc89 100%);
}

#myCarousel
{
    background-color: red;
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
